<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        var timeout = setInterval(updateSeek, 1000);
        function updateSeek() {
            $.getJSON(
                '/status',
                (result) => {
                    $("#slider").val(result.time);
                }
            );
        }
        function control(payload) {
            $.get("/control", payload);
        }
    </script>
</head>
<body>
    <a href='/control?quit=True'>quit</a>
    <br/>
    <input type="button" value="pause" onclick="control({ pause: true })">
    <br/>
    <span>volume</span>
    <input id="slider" type="range" min="0" max="10" value="0" onchange="control({ volume: this.value })">
    <br/>
    <span>seek</span>
    <input id="slider" type="range" min="0" max="{{ length }}" value="0" onchange="control({ seek: this.value })">
</body>
